* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    color: FFFFFF;
}

img {
    width: 100%;
    margin: auto;
    height: 200px;
}

#outer {
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}

.wish:hover {
    color: rgb(8, 151, 47);
}

#main {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 20px;
}

#main button {
    /* background-color: rgb(190, 243, 204); */
    /* background: transparent; */
    background-color: #498c4d;
    ;
    border-width: 2px;
    border-color: #498c4d;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}

#main button:hover {
    /* background-color: rgb(190, 243, 204); */
    /* background: transparent; */
    background-color: #a0e0a5;
    border-width: 2px;
    border-color: black;
    color: black;
    border-radius: 10px;
    font-size: 15px;
}

#outer {
    margin-top: 20px;
}

#container .card-list {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 30px;
    margin-top: 30px;
}

.card {
    width: 100%;
    height: 420px;
    margin: auto;
    padding: 5px;
    background-color: FFFEFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.fa-solid,
.fa-regular {
    color: #3f9d97
}

.card_addCart {
    width: 90%;
    margin: 7px;
    padding: 7px;
    font-size: 13px;
    border-radius: 15px;
    /* border-color: rgb(167, 237, 226); */
    border-width: 3px;
    background-color: rgb(224, 254, 250);
}

#container button:hover {
    border-radius: 15px;
    /* border-color: rgb(167, 237, 226); */
    border-width: 3px;
    background-color: #a0e0a5;
    color: black;
    font-size: 12px;
    cursor: pointer;
}

#pagination {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#pagination>button {
    margin: 10px;
    font-size: 17px;
    font-weight: bold;
    background-color: #498c4d;
    color: white;
    border-radius: 8px;
    padding: 8px;
}

#pagination>button:hover {
    margin: 10px;
    font-size: 17px;
    font-weight: bold;
    background-color: #6cd5b0;
    color: bl;
    border-radius: 8px;
    padding: 8px;
}


/* <--- Navbar CSS ---> */


.navbar {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;

}

/* Style the top navigation */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 90px;
}

/* Style the logo */
.logo {
    width: 200px;
    height: 100%;
    margin-left: 30px;
}

.logo img {
    width: 100%;
    height: 70px;
}

/* Style the search bar */
.search-bar {
    display: flex;
    margin-left: -20%;
    width: 30%;
    height: 50px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    border: none;
    background-color: rgb(190, 243, 204);
}

.search-bar input[type="search"] {
    width: 78%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    background-color: rgb(190, 243, 204);
}

/* Style the navigation buttons */
.nav-buttons {
    display: flex;
    margin-right: 30px;
}

.nav-buttons i {
    margin-right: 5px;
}

.nav-buttons a {
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding-right: 40px;
}

/* Style the bottom navigation */
.bottom-nav {
    display: flex;
    justify-content: center;
    background-color: #498c4d;
    /* height: 60px; */
}

.bottom-nav a {
    font-family: poppins;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
}

.bottom-nav a:hover {
    background-color: rgb(180, 245, 205);
    color: #130204;
}

/* Media query for responsive design */
@media screen and (max-width: 1020px) {
    .search-bar {
        display: none;
    }

    .top-nav {
        height: 120px;
    }

    #container .card-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 30px;
        margin-top: 30px;
    }

    #pagination {
        width: 40%;
        margin: auto;
        /* display: flex;
        flex-direction: row; */
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        position: relative;
    }

    .nav-buttons {
        flex-direction: column;
    }

    .bottom-nav {
        flex-direction: column;
    }

    #container .card-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 30px;
        margin-top: 30px;
    }

    #pagination {
        width: 70%;
        margin: auto;
        /* display: flex;
        flex-direction: row; */
        margin-top: 20px;
    }
}

/* <--- Navbar CSS ---> */





/* <--footer part --> */
#f-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 30px;
}

footer {
    background-color: #498c4d;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}

.f-cont {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.f-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.col {
    min-width: 250px;
    color: #f2f2f2f2;
    font-family: poppins;
    padding: 0 2rem;
}

.col h3 {
    color: #b0a2a6;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.col h3::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: #cab0bf;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.col h3:hover::after {
    width: 30px;
}

.col .s-media a i {
    width: 15px;
    color: #ffffff;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}

.col .s-media a i:hover {
    transform: scale(1.5);
    color: #cab0bf;
}

.col .link a {
    display: block;
    text-decoration: none;
    color: #f2f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}

.col .link a::before {
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #cab0bf;
    transition: 0.5s ease;
    opacity: 0;
}

.col .link a:hover::before {
    opacity: 1;
}

.col .link a:hover {
    transform: translateX(-8px);
    color: #b0a2a6;
}

.s-media {
    display: flex;
    justify-content: space-around
}

@media(max-width:1000px) {
    .f-row {
        flex-direction: column;
    }

    .col {
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}

/* <--footer part --> */